In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('sudoku-3m.csv')

In [13]:
df.head()

,id,puzzle,solution,clues,difficulty
0,1,1..5.37..6.3..8.9......98...1.......8761.........,1985437266432785915276198439147352688761924352...,27,2.2
1,2,...81.....2........1.9..7...7..25.934.2..........,9348172567286534196159427381764258934523981673...,23,0.0
2,3,..5...74.3..6...19.....1..5...7...2.9....58..7...,2159837463876542194692713855387169249413258677...,25,2.6
3,4,........5.2...9....9..2...373..481.....36....5...,4738169256285397411954278637329481569413652785...,26,1.4
4,5,.4.1..............653.....1.8.9..74...24..91.....,9471536821286493576532874913819267455724389164...,25,1.1

In [14]:
# 先把id列去掉，再把puzzle中的.换成0，比如.4.1..............653.....1.8.9..74...24..91.... to 040100000000000000653000001080900740002400910000
df = df.drop('id', axis=1)
df['puzzle'] = df['puzzle'].apply(lambda x: x.replace('.', '0'))

In [15]:
df.head()

,puzzle,solution,clues,difficulty
0,1005037006030080900000098000100000008761000000...,1985437266432785915276198439147352688761924352...,27,2.2
1,0008100000200000000109007000700250934020000000...,9348172567286534196159427381764258934523981673...,23,0.0
2,0050007403006000190000010050007000209000058007...,2159837463876542194692713855387169249413258677...,25,2.6
3,0000000050200090000900200037300481000003600005...,4738169256285397411954278637329481569413652785...,26,1.4
4,0401000000000000006530000010809007400024009100...,9471536821286493576532874913819267455724389164...,25,1.1

In [18]:
# 根据difficulty, 应该是0-10，每个区间给我取出100个，做成一个子集
# 创建一个空的 DataFrame，用于存放结果
result_df = pd.DataFrame()

# 定义 difficulty 的区间（0到10，每步间隔1）
difficulty_bins = list(range(0, 11))
difficulty_labels = [i for i in range(len(difficulty_bins)-1)]

# 为了分区添加 difficulty 区间列
df['difficulty_range'] = pd.cut(df['difficulty'], bins=difficulty_bins, labels=difficulty_labels, include_lowest=True)

# 从每个区间提取100个样本
for label in difficulty_labels:
    subset = df[df['difficulty_range'] == label]
    sampled_subset = subset.sample(n=100, random_state=42) if len(subset) >= 100 else subset
    result_df = pd.concat([result_df, sampled_subset], ignore_index=True)

# 保存结果到一个新的 CSV 文件
result_df.to_csv('sampled_puzzles.csv', index=False)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('output2.csv')
df.head()

,puzzle,solution,clues,difficulty,difficulty_range,result,runtime
0,0000700300000030200562000890000640010070000000...,4295781367186935243562417895327648918671592431...,24,1.0,0,4295781367186935243562417895327648918671592431...,2.074910
1,4080765000000000400050008010047000020003200005...,4381765299215387467659428313847659121763294855...,25,0.0,0,4381765299215387467659428313847659121763294855...,0.780104
2,0900000080206100000000056700000000600078000300...,7963421585286179434319856721524938679678512348...,24,0.0,0,7963421585286179434319856721524938679678512348...,3.114150
3,0904005300420000908000000060080000075000730000...,1974265386423857918537192463689421575218734699...,26,0.0,0,1974265386423857918537192463689421575218734699...,0.647194
4,9000010038402000095000080100006700004000103061...,9674518238412635795237986142386791454758123961...,25,0.0,0,9674518238412635795237986142386791454758123961...,0.656357