In [2]:
# read the data from sodoku.csv
import pandas as pd
import numpy as np

table = pd.read_csv('sudoku.csv', header=None)

In [5]:
nRowsRead = 1000
df1 = pd.read_csv('sudoku.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'sudoku.csv'
nRow, nCol = df1.shape

In [6]:
df1.head(5)

,quizzes,solutions
0,0043002090050090010700600430060020871900074000...,8643712593258497619712658434361925871986574322...
1,0401000501070039605200080000000000170009068008...,3461792581875239645296483719658324174729168358...
2,6001203840084590720000060050002640300700800069...,6951273841384596727248369158512647392739815469...
3,4972000001004000050000160986203000403009000000...,4972583161864397252537164986293815473759641828...
4,0059103080094030600275001000300002010008200070...,4659123781894735623275681497386452919548216372...

In [9]:
df1['quizzes'][0]

'004300209005009001070060043006002087190007400050083000600000105003508690042910300'

In [ ]:
# 输入为长度为81的字符串，或者是listarray吧